html, body, h1, h2, h3, h4, h5, p, ul, li,
section, article, div, a, figure, blockquote {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: left;
  -webkit-text-size-adjust: none; }

b {
  font-weight: normal; }

i {
  font-style: normal; }

.no-trans {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  transition: none !important; }

body {
  color: black;
  background: white;
  overflow-x: hidden;
  font-family: "a", sans-serif;
  font-size: 20px; }

.viewing-item {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
  background: #dddddd; }

hr {
  border: none;
  width: 100px;
  margin: 50px 0;
  display: block;
  border-bottom: 1px solid rgba(120, 120, 120, 0.5); }

a, a:visited {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 1px solid black;
  color: inherit;
  display: inline-block;
  line-height: 1.1em;
  text-decoration: none; }
  a:hover, a:visited:hover {
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5); }

.btn {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  line-height: 40px;
  font-size: 10px;
  padding: 0 20px;
  border: 1px solid black;
  background: transparent;
  color: black;
  cursor: pointer; }
  .btn:hover {
    background: black;
    color: white; }

.items {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 50px 0 500px 0;
  max-width: 100%;
  overflow: hidden; }

.item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  position: relative;
  padding: 5em 0 7em 0; }
  .item.nav {
    padding: 4em 10% 3em; }

.viewing-item .item-name {
  opacity: 0.1; }

.item.current, .viewing-item .item.current {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  background: white; }
  .item.current .item-name, .viewing-item .item.current .item-name {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    pointer-events: none; }
    .item.current .item-name:hover b, .viewing-item .item.current .item-name:hover b {
      border: none !important; }
    .item.current .item-name i, .viewing-item .item.current .item-name i {
      opacity: 0; }

.current.locu, .viewing-item .current.locu {
  background: #f4f4f4; }

.item-name {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  text-rendering: optimizeLegibility;
  line-height: 1.1em;
  font-size: 4em;
  border-width: 0;
  position: relative;
  display: inline-block;
  margin: 0 17% 0 10%;
  z-index: 99; }
  .item-name b {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    border-bottom: 6px solid transparent;
    display: inline-block;
    line-height: 0.9em;
    white-space: nowrap; }
  .item-name:hover {
    border-width: 0;
    color: black; }
    .item-name:hover b {
      border-bottom-color: black; }

.item > figure {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  position: fixed;
  text-align: center;
  pointer-events: none;
  left: 10%;
  top: 10vh;
  right: 10%;
  opacity: 0;
  z-index: -1; }
  .item > figure img, .item > figure video {
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%; }

.browser {
  display: inline-block;
  position: relative; }
  .browser img, .browser video {
    position: relative;
    display: inline-block;
    box-shadow: 0 0 0 1px #2b2b2b;
    padding-top: 25px;
    background: #2b2b2b;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .browser::after {
    text-align: left;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 25px;
    padding: 0 0.8em;
    z-index: 999;
    content: "●●●";
    line-height: 25px;
    font-size: 15px;
    letter-spacing: 10px;
    color: white; }

.details {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  padding: 1em 10% 0;
  z-index: 1;
  position: relative;
  height: 0px;
  overflow: hidden; }
  .nav .details {
    padding: 1em 0 0; }
  .current .details {
    height: auto;
    opacity: 1; }
  .current.loading .details {
    height: 0px;
    opacity: 0; }
  .details h2, .details h3, .details h4, .details p, .details ul {
    max-width: 600px;
    width: 100%;
    padding: 0 0 1.5em; }
  .details p em {
    text-transform: uppercase;
    font-size: 0.8em;
    font-style: normal; }
  .details li {
    list-style: none;
    position: relative; }
  .details aside h2 {
    padding-bottom: 1em; }
  .details blockquote p {
    font-size: 1em;
    line-height: 1.3em;
    width: auto; }
  .details blockquote a {
    line-height: 1em;
    display: inline-block; }

h2, h3, h4 {
  font-weight: bold; }

h1 {
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 6em 0;
  font-weight: bold; }

h3 {
  position: relative;
  padding-top: 1em 0 0.5em; }
  h3 em {
    font-style: normal;
    text-align: left;
    font-weight: normal;
    white-space: nowrap;
    display: inline-block; }
    h3 em::before {
      content: " — "; }

h4 {
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 1.5em; }

h5 {
  color: gray;
  font-size: 0.7em;
  margin-bottom: 0.2em;
  display: block; }
  h5 a, h5 a:visited {
    border-color: gray; }
    h5 a:hover, h5 a:visited:hover {
      color: black;
      border-color: black; }

.details figure {
  max-width: 1800px;
  margin: auto;
  margin-bottom: 1.5em;
  position: relative;
  max-width: none;
  width: auto;
  display: inline-block; }
  .details figure h5 {
    display: inline-block;
    vertical-align: top;
    width: 180px; }
  .details figure img, .details figure video {
    display: inline-block;
    max-width: 100%;
    margin-right: 20px; }
  .details figure:hover::after {
    background: transparent; }
  .details figure::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; }
  .details figure::after {
    display: block; }

.being-viewed {
  opacity: 0 !important; }

.details .row2 img {
  width: 50%;
  float: left;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.details .row2::before, .details .row2::after {
  content: "";
  display: table;
  clear: both; }

.details .allbleed {
  margin: 0 -10vw; }
  .details .allbleed img, .details .allbleed video {
    opacity: 0.5;
    width: 100%; }

[data-lightbox] {
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.lightbox-back {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  background: rgba(26, 26, 26, 0.5);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s; }
  .viewing-lightbox .lightbox-back {
    opacity: 1;
    pointer-events: auto; }

.lightbox {
  z-index: 9;
  display: none;
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }
  .lightbox img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block; }

.details figure .slider {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -10vw;
  padding-left: 10vw;
  width: 100vw;
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden; }
  .details figure .slider ul {
    max-width: none;
    padding: 0; }
  .details figure .slider li .wrapper {
    position: relative; }
  .details figure .slider h5 {
    left: 60%; }
  .details figure .slider img {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    width: 100%;
    max-width: 1000px; }
  .details figure .slider .wrap {
    position: relative;
    display: inline-block; }
  .details figure .slider .a {
    position: relative; }
  .details figure .slider .b, .details figure .slider .c {
    top: 0;
    left: 0;
    position: absolute; }

.details .pagination {
  display: inline-block;
  max-width: none;
  width: auto;
  padding: 5px 0; }
  .details .pagination > li {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    display: inline-block;
    opacity: 0.2;
    padding: 5px;
    width: 0;
    height: 0;
    background: black;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer; }
  .details .pagination > .current, .details .pagination > li:hover {
    opacity: 1;
    box-shadow: 0 0 0 3px black; }

.prev, .next {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  display: inline-block;
  position: absolute;
  top: 50%;
  vertical-align: top;
  padding: 10px;
  z-index: 999;
  border: none;
  opacity: 0.2;
  font-size: 24px;
  cursor: pointer;
  line-height: 1em; }
  .prev:hover, .next:hover {
    opacity: 1; }

.prev {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  left: -7%;
  right: auto; }

.next {
  right: 0%; }

#ex {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
  color: black;
  border-radius: 50%;
  position: absolute;
  font-size: 80px;
  line-height: 40px;
  opacity: 0;
  padding: 15px;
  right: 10%;
  top: 1.5em;
  text-align: center;
  width: 40px;
  white-space: nowrap;
  z-index: 7; }
  .viewing-item #ex {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  #ex:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.5; }

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 black; }

  25% {
    box-shadow: 0 0 0 3px black; }

  50% {
    box-shadow: 0 0 0 0 black; } }

@-moz-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 black; }

  25% {
    box-shadow: 0 0 0 3px black; }

  50% {
    box-shadow: 0 0 0 0 black; } }

#spinner {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  line-height: 0em;
  padding-top: 20px;
  position: absolute;
  white-space: nowrap; }
  #spinner span {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background: black;
    border-radius: 50%;
    display: inline-block;
    height: 7px;
    margin-right: 30px;
    width: 7px; }
  .current.loading #spinner span {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 0 black;
    -webkit-animation: pulse 0.8s infinite;
    -moz-animation: pulse 0.8s infinite; }
  .current.loading #spinner span:nth-child(2) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s; }
  .current.loading #spinner span:nth-child(3) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s; }

.resume h3, .resume p, .resume li {
  font-size: 0.8em;
  max-width: 500px; }
.resume h3 {
  padding: 2em 0 0em; }

.at:hover .loaded {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .at:hover .loaded:hover {
    opacity: 0.8; }

.at {
  display: inline-block;
  position: relative; }
  .at:hover {
    color: black; }
  .at i {
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    transition: all 0.1s;
    display: inline-block;
    font-style: normal; }
  .at b {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0;
    position: absolute; }
  .at:hover i {
    opacity: 0; }
  .at:hover b {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; }

.copy-wrapper {
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-transform: translate3d(-10px, 0, 0);
  -moz-transform: translate3d(-10px, 0, 0);
  -ms-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  left: 110%;
  top: 0;
  opacity: 0;
  line-height: normal; }
  .copy-wrapper .copy {
    -webkit-transition: all 0;
    -moz-transition: all 0;
    -ms-transition: all 0;
    transition: all 0;
    border: 1px solid black;
    display: inline-block;
    font-size: 0.7em;
    font-weight: bold;
    padding: 0 10px;
    position: relative;
    line-height: 24px;
    white-space: nowrap; }
    .copy-wrapper .copy i {
      position: absolute;
      opacity: 0;
      white-space: nowrap; }
    .copy-wrapper .copy::after {
      content: "";
      position: absolute;
      left: -8px;
      top: 7px;
      border: 4px solid transparent;
      border-right-color: #eeeeee;
      z-index: 9; }
  .flash-wrapper:hover .copy-wrapper .copy {
    background: black;
    color: white; }
    .flash-wrapper:hover .copy-wrapper .copy::after {
      border-right-color: black; }
  .copy-wrapper::after {
    content: "";
    position: absolute;
    left: -8px;
    top: 8px;
    border: 4px solid transparent;
    border-right-color: black; }
  .flash-wrapper .copy-wrapper.open {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .flash-wrapper .copy-wrapper.done {
    -webkit-animation: pulse 0.3s 1; }
    .flash-wrapper .copy-wrapper.done .copy {
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      transition: all 0.2s;
      color: rgba(0, 0, 0, 0);
      padding-right: 42px;
      background: black; }
      .flash-wrapper .copy-wrapper.done .copy i {
        color: white;
        opacity: 1; }
      .flash-wrapper .copy-wrapper.done .copy::after {
        border-right-color: black; }

@media (min-width: 600px) {
  .item > figure {
    -webkit-transform: translate3d(15%, 0, 0) scale(0.9);
    -moz-transform: translate3d(15%, 0, 0) scale(0.9);
    -ms-transform: translate3d(15%, 0, 0) scale(0.9);
    transform: translate3d(15%, 0, 0) scale(0.9); }

  [data-position=current] .item-name i {
    -webkit-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    opacity: 1; }

  [data-position=current] > figure {
    -webkit-transform: translate3d(15%, 0, 0);
    -moz-transform: translate3d(15%, 0, 0);
    -ms-transform: translate3d(15%, 0, 0);
    transform: translate3d(15%, 0, 0);
    opacity: 1; }
    .viewing-item [data-position=current] > figure {
      opacity: 0.3; }

  [data-position=above] > figure,
  [data-position=below] > figure {
    -webkit-transform: translate3d(15%, 0, 0) scale(0.9);
    -moz-transform: translate3d(15%, 0, 0) scale(0.9);
    -ms-transform: translate3d(15%, 0, 0) scale(0.9);
    transform: translate3d(15%, 0, 0) scale(0.9); }

  .current > figure, .viewing-item .current > figure {
    -webkit-transform: translate3d(15%, 0, 0);
    -moz-transform: translate3d(15%, 0, 0);
    -ms-transform: translate3d(15%, 0, 0);
    transform: translate3d(15%, 0, 0);
    position: absolute;
    z-index: 1;
    opacity: 1; }

  .details figure .slider .a {
    -webkit-transform: translate3d(-5%, 0, 0) scale(0.9);
    -moz-transform: translate3d(-5%, 0, 0) scale(0.9);
    -ms-transform: translate3d(-5%, 0, 0) scale(0.9);
    transform: translate3d(-5%, 0, 0) scale(0.9); }
  .details figure .slider .b {
    -webkit-transform: translate3d(0, -5%, 0) scale(0.9);
    -moz-transform: translate3d(0, -5%, 0) scale(0.9);
    -ms-transform: translate3d(0, -5%, 0) scale(0.9);
    transform: translate3d(0, -5%, 0) scale(0.9); }
  .details figure .slider .c {
    -webkit-transform: translate3d(0, 5%, 0) scale(0.9);
    -moz-transform: translate3d(0, 5%, 0) scale(0.9);
    -ms-transform: translate3d(0, 5%, 0) scale(0.9);
    transform: translate3d(0, 5%, 0) scale(0.9); }
  .details figure .slider .current img {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none; } }
@media (min-width: 1200px) {
  .resume aside {
    position: absolute;
    margin-left: 670px; }

  .details blockquote p {
    width: 80%; } }
@media (max-width: 800px) {
  .items {
    display: block; }

  .item {
    padding: 100px 0 110px; }

  #ex {
    top: 0.8em;
    font-size: 40px;
    right: 5%; }

  .details .bleed {
    margin: 0 -10vw; }

  .details figure .slider {
    margin: 0 -10vw;
    padding: 0;
    width: 110vw; }
    .details figure .slider h4 {
      width: auto;
      padding: 0 10vw; }

  .details .pagination li {
    padding: 3px; }

  .prev, .next {
    display: none; } }
@media (max-width: 600px) {
  a.item-name {
    font-size: 1.6em; }
    a.item-name b, a.item-name:hover b {
      border-width: 2px; }

  .items {
    padding-top: 80px; }

  .item {
    padding: 40px 0 50px; }

  .details figure h5 {
    width: auto; }
  .details figure.bleed h5 {
    padding: 0 10%; }
  .details figure .slider {
    margin: 0 -20vw;
    padding: 0;
    width: 120vw; }
    .details figure .slider h4 {
      width: auto;
      padding: 0 20vw; }

  .viewing-item .item > figure {
    opacity: 0.2; }

  .item > figure,
  .viewing-item .current > figure {
    padding: 0 10%;
    position: static;
    width: auto;
    opacity: 1;
    margin-top: 1em; } }
