// Tiny reset -----------


html, body, h1, h2, h3, h4, p, ul, li,
section, article, div, a, figure, blockquote
	font-size: 100%
	font-weight: normal
	margin: 0
	padding: 0
	text-align: left
	-webkit-text-size-adjust: none

// So I can misuse these tags -----------
b
	font-weight: normal
i
	font-style: normal


// Mixins -----------

@mixin nolist
	list-style: none
	padding: 0

@mixin boxfix
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

@mixin fixlayer
	position: fixed
	top:    0
	left:   0
	right:  0
	bottom: 0

@mixin title
	text-rendering: optimizeLegibility
	line-height: 1.1em
	font-size: 2em

@mixin caption
	font:
		size: 11px
		weight: normal
	text-transform: uppercase
	letter-spacing: 0.3em

@mixin trans($time)
	-webkit-transition: all $time
	-moz-transition: all $time
	-ms-transition: all $time
	transition: all $time

@mixin tf($tform)
	-webkit-transform: $tform
	-moz-transform: $tform
	-ms-transform: $tform
	transform: $tform

@mixin noselect
	-webkit-user-select: none
	-moz-user-select: none

.no-trans
	-webkit-transition: none !important
	-moz-transition: none !important
	-ms-transition: none !important
	transition: none !important

// Universal -----------

body,
html
	-webkit-overflow-scrolling: touch

hr
	border: none
	width: 100px
	margin: 50px 0
	display: block
	border-bottom: 1px solid rgba(120,120,120,0.5)

body
	color: black
	background: white
	font:
		family: "nta", sans-serif
		size: 20px

a, a:visited
	@include trans(0.3s)
	border-bottom: 1px solid black
	color: black
	display: inline-block
	line-height: 1.1em
	text-decoration: none
	&:hover
		color: rgba(0,0,0,0.5)
		border-bottom: 1px solid rgba(0,0,0,0.5)

.btn
	@include trans(0.2s)
	@include caption
	@include boxfix
	-webkit-appearance: none
	line-height: 40px
	font-size: 10px
	padding: 0 20px
	border: 1px solid black
	background: transparent
	color: black
	cursor: pointer
	&:hover
		background: black
		color: white

// Nav -----

nav
	right: 0
	top: 0
	position: fixed
	z-index: 2
	padding: 30px 10%
	a
		margin-right: 20px
		padding-bottom: 5px
		color: black

// -------------------
// List view ---------
// -------------------

.items
	@include boxfix
	display: inline-block
	margin: 50px 17% 0 10%
	max-width: 100%

// .archive-name
// 	@include caption
// 	padding-bottom: 4em

// .archive
// 	@include nolist
// 	padding-bottom: 100px
// 	li
// 		padding-bottom: 0.5em
// 		a
// 			width: 100%

// Item in list view -----------

.item
	@include boxfix
	-webkit-backface-visibility: hidden
	position: relative
	padding: 2em 0 4em 0
	// border-bottom: 1px dotted black

.project-title,
.item-name
	b // Text content
		@include trans(0.5s)
		border-bottom: 2px solid transparent
		display: inline-block
		line-height: 0.9em
		white-space: nowrap
	i // Arrow icon
		@include tf(translate3d(-20%, 0, 0))
		@include trans(0.15s)
		display: inline-block
		font-size: 0.5em
		font-style: normal
		opacity: 0

.item-name
	@include trans(0.3s)
	@include title
	border-width: 0
	position: relative
	display: inline-block
	.item:hover &
		border-width: 0
		color: black
		b
			border-bottom: 2px solid black


// Figure in list view -------

.item figure
	@include trans(0.3s)
	position: fixed
	text-align: center
	pointer-events: none
	left: 10%
	top: 10%
	right: 10%
	bottom: 10%
	opacity: 0
	z-index: -1
	img, video
		display: block
		margin: auto
		max-height: 100%
		max-width: 100%

.browser // Wrapper for item figures
	display: inline-block
	position: relative
	img, video
		position: relative
		display: inline-block
		box-shadow: 0 0 0 1px #2b2b2b
		padding-top: 25px
		background: #2b2b2b
		@include boxfix
	&::after
		text-align: left
		position: absolute
		top: 0px
		left: 0px
		height: 25px
		padding: 0 0.8em
		z-index: 999
		//content: "○○○"
		content: "●●●"
		line-height: 25px
		font-size: 15px
		letter-spacing: 10px
		color: white

// -------------------
// Project view ------
// -------------------

// Overlay -----------

.project-back
	@include fixlayer
	@include trans(0.3s)
	background: #eee
	pointer-events: none
	opacity: 0
	z-index: 3
	.viewing-item &
		opacity: 1
		pointer-events: auto

.project-title
	@include title
	@include trans(0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550))
	position: fixed
	display: none
	top: 0
	color: black
	left: 0
	z-index: 4
	-webkit-backface-visibility: hidden

.project
	@include fixlayer
	@include boxfix
	@include trans(0.4s)
	@include tf(translate3d(0, 100%, 0))
	z-index: 4
	padding: 300px 10% 0
	white-space: normal
	margin: auto
	overflow: scroll
	-webkit-overflow-scrolling: touch
	pointer-events: none
	.viewing-item & // Show when viewing item
		@include tf(translate3d(0, 0, 0) scale(1))
		opacity: 1
		pointer-events: auto
	.viewing-item.loading & // But not when loading
		@include tf(translate3d(0, 100%, 0) scale(1))
	h2, h3, h4, p, ul
		max-width: 600px
		width: 100%
		font-size: 1em
		padding: 0 0 1.5em
	h2, h3, h4
		font-weight: bold
	h1
		@include caption
		margin: 6em 0
		font-weight: bold
	h3
		position: relative
		padding-top: 1em 0 0.5em
		em
			font-style: normal
			text-align: left
			font-weight: normal
			white-space: nowrap
			display: inline-block
			&::before
				content: " — "
	h4
		@include caption
	p
		em // Use smallcaps for emphasis
			text-transform: uppercase
			font-size: 0.8em
			font-style: normal
	li
		list-style: none
		position: relative
	aside
		h2 
			padding-bottom: 1em
		h3
			@include caption
			font-weight: normal
			padding-bottom: 3em
			padding-top: 2em
			display: inline-block
		li
			padding-bottom: 5px
			display: block
		ul
			padding-bottom: 3em

	blockquote
		p
			font-size: 1em
			line-height: 1.3em
			width: auto
		a
			line-height: 1em
			display: inline-block

.project
	figure
		max-width: 1800px
		margin: auto
		margin-bottom: 1.5em
		position: relative
		img
			display: block
			max-width: 100%
		h4
			margin-top: 4em
	.inset
		position: relative
		max-width: none
		width: auto
		display: inline-block
		img
			//border-radius: 4px
			//border: 1px solid black
		&:hover::after
			background: transparent
		&::before
			content: ""
			position: absolute
			top: 0
			right: 0
			left: 0
			bottom: 0
			box-shadow: inset 0 1px 20px rgba(0,0,0,0.1), inset 0 1px 3px rgba(0,0,0,0.1)
			//border-radius: 10px
		&::after
			display: block


.being-viewed
	opacity: 0 !important

.project .row2
	img
		width: 50%
		float: left
		@include boxfix
	&::before, &::after
		content: ""
		display: table
		clear: both

[data-lightbox]
	cursor: -webkit-zoom-in
	cursor: zoom-in

.lightbox-back
	@include fixlayer
	z-index: 8
	background: hsla(0,0,10%,0.5)
	pointer-events: none
	opacity: 0
	@include trans(0.5s)
	.viewing-lightbox &
		opacity: 1
		pointer-events: auto
.lightbox
	z-index: 9
	display: none
	position: fixed
	overflow: scroll
	top:    0
	left:   0
	cursor: -webkit-zoom-out
	cursor: zoom-out
	img
		max-width: 100%
		max-height: 100%
		margin: auto
		display: block


.project figure .slider
	@include boxfix
	margin-left: -10vw
	padding-left: 10vw
	width: 100vw
	padding-bottom: 20px
	position: relative
	z-index: 1
	-webkit-perspective: 1000
	-webkit-backface-visibility: hidden
	ul
		max-width: none
		padding: 0
	img
		@include trans(0.2s)
		width: 100%
		max-width: 600px
	.wrap
		position: relative
		display: inline-block
	.a
		position: relative
	.b, .c
		top: 0
		left: 0
		position: absolute

.project .pagination
	display: inline-block
	max-width: none
	width: auto
	padding: 5px 0
	> li
		@include trans(0.2s)
		display: inline-block
		opacity: 0.2
		padding: 5px
		width: 0
		height: 0
		background: black
		border-radius: 50%
		margin-right: 20px
		cursor: pointer
	> .current, > li:hover
		opacity: 1
		box-shadow: 0 0 0 3px black


.prev, .next
	@include trans(0.5s)
	@include noselect
	display: inline-block
	vertical-align: top
	padding: 10px
	z-index: 999
	border: none
	opacity: 0.2
	font-size: 24px
	cursor: pointer
	line-height: 1em
	&:hover
		opacity: 1

.prev
	@include tf(rotate(180deg) translate3d(0,4px,0))
	figure:hover &

.next

.ex
	@include trans(0.2s)
	cursor: pointer
	position: fixed
	z-index: 7
	top: 50px
	right: 10%
	white-space: nowrap
	font-size: 60px
	width: 40px
	text-align: center
	line-height: 40px
	padding: 15px
	border-radius: 50%
	opacity: 0
	color: black
	@include tf(scale(0))
	.viewing-item &
		opacity: 1
		@include tf(scale(1))
	&:hover
		opacity: 0.5



@-webkit-keyframes pulse
	0%
		box-shadow: 0 0 0 0 black
	25%
		box-shadow: 0 0 0 3px black
	50%
		box-shadow: 0 0 0 0 black

.spinner
	@include trans(0.2s)
	cursor: pointer
	line-height: 0em
	margin-top: 20px
	white-space: nowrap
	span
		@include trans(0.5s)
		-webkit-transform: scale(0)
		display: inline-block
		margin-right: 40px
		border-radius: 50%
		background: black
		width: 10px
		height: 10px
	.viewing-item.loading &
		-webkit-transform: translate3d(0%,0,0)
		span
			-webkit-transform: scale(1)
			box-shadow: 0 0 0 0 black
			-webkit-animation: pulse 0.8s infinite
		span:nth-child(2)
			-webkit-animation-delay: 0.3s
		span:nth-child(3)
			-webkit-animation-delay: 0.6s

// Resume
.resume
	.project-title
		font-size: 1em

	// .project
	// 	li > a
	// 		line-height: 1.5em
	// 		-webkit-transition: none
	// 	li
	// 		em 
	// 			-webkit-transition: all 0.3s
	// 			font-size: 11px
	// 			font-style: normal
	// 			text-transform: uppercase
	// 			letter-spacing: 0.2em
	// 			white-space: nowrap

.copy-wrapper
	@include trans(0.1s)
	@include tf(translate3d(-10px,0,0))
	// -webkit-transition-delay: 0.5s
	// -moz-transition-delay: 0.5s
	position: absolute
	left: 110%
	top: 0
	opacity: 0
	line-height: normal
	font-size: 1rem
	cursor: hand
	.copy
		@include trans(0)
		white-space: nowrap
		position: relative
		display: inline-block
		padding: 0 10px
		font-size: 0.7em
		border: 1px solid black
		line-height: 24px
		font-weight: bold
		i
			position: absolute
			opacity: 0
			white-space: nowrap
		&::after
			content: ""
			position: absolute
			left: -8px
			top: 7px
			border: 4px solid transparent
			border-right-color: #eee
			z-index: 9
	.flash-wrapper:hover &
		.copy
			background: black
			color: white
			&::after
				border-right-color: black
	&::after
		content: ""
		position: absolute
		left: -8px
		top: 8px
		border: 4px solid transparent
		border-right-color: black
	.flash-wrapper &
		&.open
			opacity: 1
			@include tf(translate3d(0,0,0))
		&.done
			-webkit-animation: pulse 0.3s 1
			.copy
				@include trans(0.2s)
				color: rgba(0,0,0,0)
				padding-right: 42px
				background: black
				i
					color: white
					opacity: 1
				&::after
					border-right-color: black

// @ Email -------------

.at:hover
	// Copy button when loaded
	.loaded
		opacity: 1
		@include tf(translate3d(0,0,0))
		&:hover
			opacity: 0.8

.at
	display: inline-block
	position: relative
	// i
	// 	@include trans(0.1s)
	// 	font-style: normal
	// 	display: inline-block
	// b
	// 	@include trans(0.2s)
	// 	@include tf(scale(0.6))
	// 	opacity: 0
	// 	position: absolute
	// &:hover
	// 	i
	// 		opacity: 0
	// 	b
	// 		opacity: 1
	// 		@include tf(scale(1))


// Input -------------

// Error -------------

.error
	position: absolute
	top: -300px


// Fancy transitions ----------

@media (min-width: 600px)
	.item figure
		@include tf(translate3d(15%,0,0) scale(0.9))
	[data-position = current] .item-name i
		@include tf(translate3d(0%, 0, 0))
		opacity: 1

	[data-position=current] figure
		opacity: 1
		@include tf(translate3d(15%,0,0))
		.viewing-item &
			opacity: 0
			@include tf(translate3d(30%,0,0))

	[data-position=above] figure,
	[data-position=below] figure
		@include tf(translate3d(15%, 0 ,0) scale(0.9))

	.project figure .slider
		.a
			@include tf(translate3d(-5%,0,0) scale(0.9))
		.b
			@include tf(translate3d(0,-5%,0) scale(0.9))
		.c
			@include tf(translate3d(0,5%,0) scale(0.9))
		.current img
			&.a, &.b, &.c
			@include tf(none)


// @ Media -------------

@media (min-width: 1200px)
	aside
		position: absolute
		margin-left: 550px + 120px
	.project blockquote p
		width: 80%

@media (max-width: 800px)
	.items
		display: block
	.item
		padding: 100px 0 110px
	.ex
		font-size: 40px
		right: 5%
		top: 5%
	.project .bleed // figure.bleed
		margin: 0 -10vw
	.project figure .slider
		margin: 0
		padding: 0
	.project .pagination
		margin: 0 10%
		> li
			padding: 3px
	.prev, .next
		display: none

@media (max-width: 600px)
	a.item-name,
	.project-title
		font-size: 1.6em
	.items
		padding-top: 80px
	.item
		padding: 40px 0 50px
	.item > figure
		position: static
		opacity: 1
		margin-top: 1em

// Extras -------------


// body
// 	&::-webkit-scrollbar
// 		height: 10px
// 		background: white
// 	&::-webkit-scrollbar-thumb
// 		background: rgba(0,0,0,1)
// 		&:hover
// 			background: rgba(0,0,0,0.6)