html, body, h1, h2, h3, h4, p, ul, li,
section, article, div, a, figure, blockquote {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: left;
  -webkit-text-size-adjust: none; }

b {
  font-weight: normal; }

i {
  font-style: normal; }

.no-trans {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  transition: none !important; }

body,
html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

hr {
  border: none;
  width: 100px;
  margin: 50px 0;
  display: block;
  border-bottom: 1px solid rgba(120, 120, 120, 0.5); }

body {
  color: black;
  background: white;
  font-family: "nta", sans-serif;
  font-size: 20px; }

a, a:visited {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 1px solid black;
  color: black;
  display: inline-block;
  line-height: 1.1em;
  text-decoration: none; }
  a:hover, a:visited:hover {
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5); }

.btn {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  line-height: 40px;
  font-size: 10px;
  padding: 0 20px;
  border: 1px solid black;
  background: transparent;
  color: black;
  cursor: pointer; }
  .btn:hover {
    background: black;
    color: white; }

nav {
  right: 0;
  top: 0;
  position: fixed;
  z-index: 2;
  padding: 30px 10%; }
  nav a {
    margin-right: 20px;
    padding-bottom: 5px;
    color: black; }

.items {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin: 50px 17% 0 10%;
  max-width: 100%; }

.item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  position: relative;
  padding: 2em 0 4em 0; }

.project-title b,
.item-name b {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 2px solid transparent;
  display: inline-block;
  line-height: 0.9em;
  white-space: nowrap; }
.project-title i,
.item-name i {
  -webkit-transform: translate3d(-20%, 0, 0);
  -moz-transform: translate3d(-20%, 0, 0);
  -ms-transform: translate3d(-20%, 0, 0);
  transform: translate3d(-20%, 0, 0);
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  transition: all 0.15s;
  display: inline-block;
  font-size: 0.5em;
  font-style: normal;
  opacity: 0; }

.item-name {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  text-rendering: optimizeLegibility;
  line-height: 1.1em;
  font-size: 2em;
  border-width: 0;
  position: relative;
  display: inline-block; }
  .item:hover .item-name {
    border-width: 0;
    color: black; }
    .item:hover .item-name b {
      border-bottom: 2px solid black; }

.item figure {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  position: fixed;
  text-align: center;
  pointer-events: none;
  left: 10%;
  top: 10%;
  right: 10%;
  bottom: 10%;
  opacity: 0;
  z-index: -1; }
  .item figure img, .item figure video {
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%; }

.browser {
  display: inline-block;
  position: relative; }
  .browser img, .browser video {
    position: relative;
    display: inline-block;
    box-shadow: 0 0 0 1px #2b2b2b;
    padding-top: 25px;
    background: #2b2b2b;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .browser::after {
    text-align: left;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 25px;
    padding: 0 0.8em;
    z-index: 999;
    content: "●●●";
    line-height: 25px;
    font-size: 15px;
    letter-spacing: 10px;
    color: white; }

.project-back {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  background: #eeeeee;
  pointer-events: none;
  opacity: 0;
  z-index: 3; }
  .viewing-item .project-back {
    opacity: 1;
    pointer-events: auto; }

.project-title {
  text-rendering: optimizeLegibility;
  line-height: 1.1em;
  font-size: 2em;
  -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: fixed;
  display: none;
  top: 0;
  color: black;
  left: 0;
  width: 100%;
  z-index: 4;
  -webkit-backface-visibility: hidden; }

.project {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  z-index: 4;
  padding: 300px 10% 0;
  white-space: normal;
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  pointer-events: none; }
  .viewing-item .project {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    -moz-transform: translate3d(0, 0, 0) scale(1);
    -ms-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
    pointer-events: auto; }
  .viewing-item.loading .project {
    -webkit-transform: translate3d(0, 100%, 0) scale(1);
    -moz-transform: translate3d(0, 100%, 0) scale(1);
    -ms-transform: translate3d(0, 100%, 0) scale(1);
    transform: translate3d(0, 100%, 0) scale(1); }
  .project h2, .project h3, .project h4, .project p, .project ul {
    max-width: 600px;
    width: 100%;
    font-size: 1em;
    padding: 0 0 1.5em; }
  .project h2, .project h3, .project h4 {
    font-weight: bold; }
  .project h1 {
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin: 6em 0;
    font-weight: bold; }
  .project h3 {
    position: relative;
    padding-top: 1em 0 0.5em; }
    .project h3 em {
      font-style: normal;
      text-align: left;
      font-weight: normal;
      white-space: nowrap;
      display: inline-block; }
      .project h3 em::before {
        content: " — "; }
  .project h4 {
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.3em; }
  .project p em {
    text-transform: uppercase;
    font-size: 0.8em;
    font-style: normal; }
  .project li {
    list-style: none;
    position: relative; }
  .project aside h2 {
    padding-bottom: 1em; }
  .project aside h3 {
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: normal;
    padding-bottom: 3em;
    padding-top: 2em;
    display: inline-block; }
  .project aside li {
    padding-bottom: 5px;
    display: block; }
  .project aside ul {
    padding-bottom: 3em; }
  .project blockquote p {
    font-size: 1em;
    line-height: 1.3em;
    width: auto; }
  .project blockquote a {
    line-height: 1em;
    display: inline-block; }

.project figure {
  max-width: 1800px;
  margin: auto;
  margin-bottom: 1.5em;
  position: relative; }
  .project figure img {
    display: block;
    max-width: 100%; }
  .project figure h4 {
    margin-top: 4em; }
.project .inset {
  position: relative;
  max-width: none;
  width: auto;
  display: inline-block; }
  .project .inset:hover::after {
    background: transparent; }
  .project .inset::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; }
  .project .inset::after {
    display: block; }

.being-viewed {
  opacity: 0 !important; }

.project .row2 img {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.project .row2::before, .project .row2::after {
  content: "";
  display: table;
  clear: both; }

[data-lightbox] {
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.lightbox-back {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  background: rgba(26, 26, 26, 0.5);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s; }
  .viewing-lightbox .lightbox-back {
    opacity: 1;
    pointer-events: auto; }

.lightbox {
  z-index: 9;
  display: none;
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }
  .lightbox img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block; }

.project figure .slider {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -10vw;
  padding-left: 10vw;
  width: 100vw;
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden; }
  .project figure .slider ul {
    max-width: none;
    padding: 0; }
  .project figure .slider img {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    width: 100%;
    max-width: 600px; }
  .project figure .slider .wrap {
    position: relative;
    display: inline-block; }
  .project figure .slider .a {
    position: relative; }
  .project figure .slider .b, .project figure .slider .c {
    top: 0;
    left: 0;
    position: absolute; }

.project .pagination {
  display: inline-block;
  max-width: none;
  width: auto;
  padding: 5px 0; }
  .project .pagination > li {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    display: inline-block;
    opacity: 0.2;
    padding: 5px;
    width: 0;
    height: 0;
    background: black;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer; }
  .project .pagination > .current, .project .pagination > li:hover {
    opacity: 1;
    box-shadow: 0 0 0 3px black; }

.prev, .next {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  z-index: 999;
  border: none;
  opacity: 0.2;
  font-size: 24px;
  cursor: pointer;
  line-height: 1em; }
  .prev:hover, .next:hover {
    opacity: 1; }

.prev {
  -webkit-transform: rotate(180deg) translate3d(0, 4px, 0);
  -moz-transform: rotate(180deg) translate3d(0, 4px, 0);
  -ms-transform: rotate(180deg) translate3d(0, 4px, 0);
  transform: rotate(180deg) translate3d(0, 4px, 0); }

.ex {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
  position: fixed;
  z-index: 7;
  top: 50px;
  right: 10%;
  white-space: nowrap;
  font-size: 60px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  padding: 15px;
  border-radius: 50%;
  opacity: 0;
  color: black;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }
  .viewing-item .ex {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .ex:hover {
    opacity: 0.5; }

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 black; }

  25% {
    box-shadow: 0 0 0 3px black; }

  50% {
    box-shadow: 0 0 0 0 black; } }

.spinner {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  line-height: 0em;
  margin-top: 20px;
  white-space: nowrap; }
  .spinner span {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: scale(0);
    display: inline-block;
    margin-right: 40px;
    border-radius: 50%;
    background: black;
    width: 10px;
    height: 10px; }
  .viewing-item.loading .spinner {
    -webkit-transform: translate3d(0%, 0, 0); }
    .viewing-item.loading .spinner span {
      -webkit-transform: scale(1);
      box-shadow: 0 0 0 0 black;
      -webkit-animation: pulse 0.8s infinite; }
    .viewing-item.loading .spinner span:nth-child(2) {
      -webkit-animation-delay: 0.3s; }
    .viewing-item.loading .spinner span:nth-child(3) {
      -webkit-animation-delay: 0.6s; }

.resume .project-title {
  font-size: 1em; }

.copy-wrapper {
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-transform: translate3d(-10px, 0, 0);
  -moz-transform: translate3d(-10px, 0, 0);
  -ms-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  position: absolute;
  left: 110%;
  top: 0;
  opacity: 0;
  line-height: normal;
  font-size: 1rem;
  cursor: hand; }
  .copy-wrapper .copy {
    -webkit-transition: all 0;
    -moz-transition: all 0;
    -ms-transition: all 0;
    transition: all 0;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    padding: 0 10px;
    font-size: 0.7em;
    border: 1px solid black;
    line-height: 24px;
    font-weight: bold; }
    .copy-wrapper .copy i {
      position: absolute;
      opacity: 0;
      white-space: nowrap; }
    .copy-wrapper .copy::after {
      content: "";
      position: absolute;
      left: -8px;
      top: 7px;
      border: 4px solid transparent;
      border-right-color: #eeeeee;
      z-index: 9; }
  .flash-wrapper:hover .copy-wrapper .copy {
    background: black;
    color: white; }
    .flash-wrapper:hover .copy-wrapper .copy::after {
      border-right-color: black; }
  .copy-wrapper::after {
    content: "";
    position: absolute;
    left: -8px;
    top: 8px;
    border: 4px solid transparent;
    border-right-color: black; }
  .flash-wrapper .copy-wrapper.open {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .flash-wrapper .copy-wrapper.done {
    -webkit-animation: pulse 0.3s 1; }
    .flash-wrapper .copy-wrapper.done .copy {
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      transition: all 0.2s;
      color: rgba(0, 0, 0, 0);
      padding-right: 42px;
      background: black; }
      .flash-wrapper .copy-wrapper.done .copy i {
        color: white;
        opacity: 1; }
      .flash-wrapper .copy-wrapper.done .copy::after {
        border-right-color: black; }

.at:hover .loaded {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .at:hover .loaded:hover {
    opacity: 0.8; }

.at {
  display: inline-block;
  position: relative; }

.error {
  position: absolute;
  top: -300px; }

@media (min-width: 600px) {
  .item figure {
    -webkit-transform: translate3d(15%, 0, 0) scale(0.9);
    -moz-transform: translate3d(15%, 0, 0) scale(0.9);
    -ms-transform: translate3d(15%, 0, 0) scale(0.9);
    transform: translate3d(15%, 0, 0) scale(0.9); }

  [data-position=current] .item-name i {
    -webkit-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    opacity: 1; }

  [data-position=current] figure {
    opacity: 1;
    -webkit-transform: translate3d(15%, 0, 0);
    -moz-transform: translate3d(15%, 0, 0);
    -ms-transform: translate3d(15%, 0, 0);
    transform: translate3d(15%, 0, 0); }
    .viewing-item [data-position=current] figure {
      opacity: 0;
      -webkit-transform: translate3d(30%, 0, 0);
      -moz-transform: translate3d(30%, 0, 0);
      -ms-transform: translate3d(30%, 0, 0);
      transform: translate3d(30%, 0, 0); }

  [data-position=above] figure,
  [data-position=below] figure {
    -webkit-transform: translate3d(15%, 0, 0) scale(0.9);
    -moz-transform: translate3d(15%, 0, 0) scale(0.9);
    -ms-transform: translate3d(15%, 0, 0) scale(0.9);
    transform: translate3d(15%, 0, 0) scale(0.9); }

  .project figure .slider .a {
    -webkit-transform: translate3d(-5%, 0, 0) scale(0.9);
    -moz-transform: translate3d(-5%, 0, 0) scale(0.9);
    -ms-transform: translate3d(-5%, 0, 0) scale(0.9);
    transform: translate3d(-5%, 0, 0) scale(0.9); }
  .project figure .slider .b {
    -webkit-transform: translate3d(0, -5%, 0) scale(0.9);
    -moz-transform: translate3d(0, -5%, 0) scale(0.9);
    -ms-transform: translate3d(0, -5%, 0) scale(0.9);
    transform: translate3d(0, -5%, 0) scale(0.9); }
  .project figure .slider .c {
    -webkit-transform: translate3d(0, 5%, 0) scale(0.9);
    -moz-transform: translate3d(0, 5%, 0) scale(0.9);
    -ms-transform: translate3d(0, 5%, 0) scale(0.9);
    transform: translate3d(0, 5%, 0) scale(0.9); }
  .project figure .slider .current img {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none; } }
@media (min-width: 1200px) {
  aside {
    position: absolute;
    margin-left: 670px; }

  .project blockquote p {
    width: 80%; } }
@media (max-width: 800px) {
  .items {
    display: block; }

  .item {
    padding: 100px 0 110px; }

  .ex {
    font-size: 40px;
    right: 5%;
    top: 5%; }

  .project .bleed {
    margin: 0 -10vw; }

  .project figure .slider {
    margin: 0 -20vw;
    padding: 0;
    width: 120vw; }

  .project .pagination {
    margin: 0 10%; }
    .project .pagination > li {
      padding: 3px; }

  .prev, .next {
    display: none; } }
@media (max-width: 600px) {
  a.item-name,
  .project-title {
    font-size: 1.6em; }

  .items {
    padding-top: 80px; }

  .item {
    padding: 40px 0 50px; }

  .item > figure {
    position: static;
    opacity: 1;
    margin-top: 1em; } }
