.box-contents {
	margin-bottom: 30px;
	//-webkit-transition: background 1s;
}

.box-open {
	//background: rgba(0,0,0,0.1);
}

.box-fold {
	margin: -35% 10% -50%;
	overflow: hidden;
	position: relative;
	-webkit-transition: margin 0.5s;
}

.box-fold.unfolded {
	margin-bottom: 0%;
}

.box-fold > .frames {
	width: 600%;
	left: 0%;
	position: relative;
}

.box-fold.unfolded > .frames {
	left: -500%;
	margin-bottom: 0;
}

.box-spread .box-fold.unfolded {
	background-image: url("img/cl-fold-box-inside.png");
	background-size: 100% 100%;
}

.box-spread .box-fold.unfolded > .frames {
	opacity: 0;
}

.box-items > li {
	-webkit-transition: margin 1s,
						max-height 1s,
						box-shadow 0.2s,
						background 0.2s,
						-webkit-transform 0.2s,
						opacity 1s;
	//visibility: hidden;
	margin: 1% 25% 0;
	max-height: 0px;
	-webkit-transform: translate3d(0,0,0);
	/* To fix z-indexing */
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0);
}

.box-spread .box-item:hover {
	//background: rgba(0,0,0,0.05);
	//box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
	-webkit-transform: scale(1.05) rotate(-1deg);
}

.box-items {
	display: none;
	//opacity: 0;
	//pointer-events: none;
	-webkit-transition: margin 1s;
	//-webkit-transform: translate3d(0,-700px,0);
	margin: -89% 0 70%;
}

.box-open .box-items {
	display: block;
	//opacity: 1;
	//pointer-events: auto;
}

.box-spread .box-items {
	//-webkit-transform: translate3d(0,0,0);
	margin: 0px;
}

.box-spread .box-items > li {
	margin-top: 0px;
	max-height: 600px;
}

.box-items > li > img {
	width: 100%;
}

.box-items > .divider {
	border-bottom: 1px solid rgba(0,0,0,0.1);
	text-align: center;
	margin: 0 5% 15px;
	opacity: 0;
}

.box-spread .box-items > .divider {
	opacity: 1;
}

.box-items > .divider > h4 {
	position: relative;
	background: whitesmoke;
	display: inline-block;
	bottom: -12px;
	padding: 0 15px;
}

.box-toggle-btn {
	text-align: center;
	//-webkit-transform: rotate(-45deg);
	padding-bottom: 3em;
	opacity: 0.6;
	//font-size: 36px;
}

.box-toggle-btn:hover {
	//border: none;
}

.box-toggle-btn > a > .close {
	display: none;
}

.box-open .box-toggle-btn > a > .close {
	display: inline;
}

.box-open .box-toggle-btn > a > .open {
	display: none;
}

.box-top-point {
	position: absolute;
	top: 25%;
}

@media (max-width: 500px) {
	.box-contents {
		margin: 0 -40%;
	}
}
