html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


/***********************************/

html {
  height: 100%;
}

body {
  -webkit-text-size-adjust: none;
  color: #222;
  background: #444;
  //max-width: 1000px;
  font: 15px/20px "awsans";
  -webkit-transition: all 0.4s;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* Global styles 
   ------------- */

a {
  text-decoration: none;
  border-bottom: 1px solid #bbb;
  color: black;
  -webkit-transition: all 0.1s;
  padding-bottom: 2px;
}

a:hover {
  border-bottom: 1px solid black;
  padding-bottom: 8px;
}

nav {
}

.title {
  padding-bottom: 40px;
}

.subtitle {
  padding-bottom: 100px;
}

.title, .name {
}

.subtitle, .description {
  opacity: 0.6;
}

.dash {
  border: none;
  display: none;
  border-bottom: 1px solid black;
}

nav .dash {
  width: 60px;
  margin: 50px auto;
}

.img {
  background-position: center center;
  background-repeat: no-repeat;
}

.img.contain {
  background-size: contain;
}

.img.cover {
  background-size: cover;
}

.img.fix {
  background-attachment: fixed;
}

/* Index 
   ----- */

.index {
  -webkit-transition: all 0.4s;
  padding: 80px 0 0 100px;
  background: white;
  height: 100%;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transform-origin: 20% center;
  overflow: scroll;
  border-radius: 3px;
  -webkit-overflow-scrolling: touch;
}

.item-wrapper{
  max-width: 1000px;
}

.view-item-mode .index {
  opacity: 0.7;
  -webkit-transform: translate3d(0px,0,0) scale(0.98); /*translate3d(0,0,0) scale(0.95);*/
}

/* Item styles 
   ----------- */

.name {
  padding-bottom: 0.3em;
  margin-bottom: 0.7em;
  //border-bottom: 1px solid #ddd;
  display: inline-block;
}

.item {
  width: 100%;
  max-width: 250px;
  height: 100px;
  vertical-align: top;
  display: inline-block;
  border-right: 1px solid rgba(0,0,0,0.12);
  margin-right: 50px;
  margin-bottom: 70px;
}

.item .inner {
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.5s;
  padding: 20px 20px 25px;
  margin: -20px;
  border-radius: 5px;
}

.item .inner:hover {
  //color: red;
  //border-color: red;
  //box-shadow: 0 0 0 1px rgba(0,0,0,0.07);
  background: rgba(0,0,0,0.04);
}

.view-item-mode .item .active {
  background: rgba(0,0,0,0.04);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.07);
}

/* Overlay 
   ------- */

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -2;
  pointer-events: none;
  -webkit-transition: all 1s cubic-bezier(1,0,1,0);
}

.view-item-mode .overlay {
  z-index: 2;
  pointer-events: auto;
  -webkit-transition: all 1s cubic-bezier(0,1,0,1);
}

/* Matte 
   ----- */

.matte {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 50px;
  opacity: 0;
  //background: rgba(240,240,240,0.7);
  -webkit-transition: all 1s;
}

.view-item-mode .matte {
  opacity: 1;
}

.view-item-mode .matte:hover {
  //background: rgba(235,235,235,0.7);
}

.view-item-mode .matte:hover .icon {
  opacity: 0.6;
}

.matte .icon {
  display: inline-block;
  width: 30px;
  margin: -15px;
  line-height: 20px;
  text-align: center;
  opacity: 0;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 0 0 0px rgba(0,0,0,0);
  -webkit-transition: all 0.2s;
}

.matte .icon:hover {
  background: rgba(0,0,0,0.05);
  opacity: 1;
  box-shadow: 0 0 0 10px rgba(0,0,0,0.05);
}

/* View
   ---- */

.view {
  background: white;
  //opacity: 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  /* ----- */
  position: absolute;
  top: 0px; left: 100px; padding-right: 100px;
  width: 100%; height: 100%;
  z-index: -1;
  border-radius: 3px;
  /* ----- */
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  cursor: -webkit-grab;
  -webkit-transition: all 0.4s cubic-bezier(0.570, 0.000, 1.000, 0.705);
  -webkit-transform: translate3d(100%, 0, 0);
}

.view-item-mode .view {
  z-index: 3;
  opacity: 1;
  -webkit-transition: all 500ms cubic-bezier(0.115, 0.910, 0.470, 1.00);
  -webkit-transform: none;
}

.view-scroller {
  position: relative; /* So that we can get offsets from the top of this */
  height: 100%;
  -webkit-transition: all 500ms cubic-bezier(0.115, 0.910, 0.470, 1.00);
  -webkit-transform:translate3d(0,0,0); /* just to start the hw accel */
}

.spinner {
  height: 100%;
  -webkit-transition: all 1s;
  background: url('img/eye-roll.gif') center center no-repeat;
  position: absolute;
  z-index: 999;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  opacity: 0;
}

.view.loading .spinner{
  //height: 100%;
  opacity: 1;
  -webkit-transition: none;
}

.view-header {
  padding-top: 80px;
}

section.text {
  padding-right: 100px;
  padding-left: 100px;
}

.view-item-mode {
  //padding-left: 40px;
  overflow: hidden;
}

.caption {
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%);
  //background: rgba(0,0,0,0.6);
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 50px;
  opacity: 0;
  -webkit-transform: translate3d(0,30px,0);
  -webkit-transition: all 0.3s;
}

.dark .caption {
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
  color: white;
}

.show-caption .caption {
  opacity: 1;
  -webkit-transform: none;
}

.more-info {
  position: absolute;
  bottom: 0px;
  z-index: 999;
  border-radius: 50%;
  background: rgba(0,0,0,0.08);
  left: 0px;
  margin: 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.more-info:hover {
  -webkit-transform: none;
  background: rgba(0,0,0,0.15);
}

.dark .more-info {
  color: white;
  background: rgba(0,0,0,0.4);
}

.dark .more-info:hover {
  background: rgba(0,0,0,0.8);
}

.show-caption .more-info {
  opacity: 0;
  -webkit-transform: scale(0.6);
}

.view-content {
  //max-width: 1000px;
  height: 100%;
}

.view-content section {
  border-top: 1px solid rgba(0,0,0,0.15);
  position: relative;
  overflow: hidden;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

.view-content section.img {
  height: 100%;
}


.view-content section.text {
  padding-top: 80px;
  padding-bottom: 80px;
}

.view-content section.meta {
  height: auto;
}


.text h3{
  font: 36px/44px "awsans"; /*"Chaparral Pro";*/
  margin-bottom: 0.5em;
  font-weight: lighter;
  max-width: 600px;
}

.text p {
  margin-bottom: 0.5em;
  max-width: 600px;
}

.meta{
  line-height: 3em;
}

.meta li {
  opacity: 0.6;
  width: 200px;
  white-space: nowrap;
}

.meta > li > b {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-right: 15px;
  width: 100px;
  display: inline-block;
  opacity: 0.7;
}


@media (min-width: 1000px){
  .item:nth-child(3n+3) {
    border-right: none;
  }
}

@media (min-width: 700px) and (max-width: 1000px){
  .item:nth-child(2n+2) {
    border-right: none;
  }
}

@media (max-width: 700px){
  body {
  }
  .index {
    padding: 50px;
  }
  .view-item-mode .index {
    //-webkit-transform: translate3d(0,0,0) scale(0.9);
  }
  .view {
    left: 40px; padding-right: 40px;
  }
  .view-header {
    padding-top: 50px;
  }
  section.text {
    padding-right: 50px;
    padding-left: 50px;
  }
  .matte {
    padding: 20px;
  }
  .item {
    padding: 0 0 40px 0;
    margin-bottom: 50px;
    height: auto;
    border-right: none;
    max-width: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .item .inner {
    display: block;
  }

  .meta > li > b {
    display: block;
    line-height: 1em;
    margin-top: 12px;
  }
}

@media (max-width: 350px){
  .view {
    left: 18px; padding-right: 18px;
  }
}


/*Generated by Font Squirrel (http://www.fontsquirrel.com) on April 28, 2010 11:11:41 AM America/New_York */

@font-face {
  font-family: 'awsans';
  src: url('font/awconquerorsans-light-webfont.eot');
  src: url('font/awconquerorsans-light-webfont.woff') format('woff'),
       url('font/awconquerorsans-light-webfont.ttf') format('truetype'),
       url('font/awconquerorsans-light-webfont.svg#webfontIRLZqcfF') format('svg');
  font-weight: normal;
  font-style: normal;
}
