* {
	font: inherit;
	box-sizing: border-box;
	background: transparent;
	margin: 0;
	padding: 0;
}

html {
	font-size: 28px;
	line-height: 1.4em;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	font-family: Times, serif;
}


body {
	color: black;
	padding: 0.5em 0.666em;
}

a {
	text-decoration: none;
}

a, a:visited {
	color: #001BFF;
}

a:hover {
	opacity: 0.6;
}

a:active {
	opacity: 0.4;
}
