html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


/***********************************/


body {
  -webkit-text-size-adjust: none;
  padding: 80px 0 0 100px;
  color: #222;
  max-width: 1000px;
  font: 15px/20px "awsans";
  -webkit-transition: all 0.4s;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #bbb;
  color: black;
  -webkit-transition: all 0.1s;
  padding-bottom: 2px;
}

a:hover {
  border-bottom: 1px solid black;
  padding-bottom: 8px;
}

nav {
}

.title {
  padding-bottom: 40px;
}

.subtitle {
  padding-bottom: 100px;
}

.title, .name {
}

.subtitle, .description {
  opacity: 0.6;
}

.dash {
  border: none;
  display: none;
  border-bottom: 1px solid black;
}

nav .dash {
  width: 60px;
  margin: 50px auto;
}

.name {
  padding-bottom: 0.3em;
  margin-bottom: 0.7em;
  //border-bottom: 1px solid #ddd;
  display: inline-block;
}

.item {
  width: 100%;
  max-width: 300px;
  vertical-align: top;
  display: inline-block;
  padding: 0 80px 100px 0;
}

.item .inner {
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.5s;
  padding: 20px 20px 25px;
  margin: -20px;
  border-radius: 5px;
}

.item .inner:hover {
  //color: red;
  //border-color: red;
  //box-shadow: 0 0 0 1px rgba(0,0,0,0.07);
  background: rgba(0,0,0,0.04);
}

.view-item-mode .item .active {
  background: rgba(0,0,0,0.04);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.07);
}

/* ------- */

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -2;
  pointer-events: none;
  -webkit-transition: all 1s cubic-bezier(1,0,1,0);
}

.view-item-mode .overlay {
  z-index: 2;
  pointer-events: auto;
  -webkit-transition: all 1s cubic-bezier(0,1,0,1);
}

/* ------- */

.matte {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 50px;
  opacity: 0;
  background: rgba(240,240,240,0.7);
  -webkit-transition: all 1s;
}

.view-item-mode .matte {
  opacity: 1;
}

.view-item-mode .matte:hover {
  background: rgba(235,235,235,0.7);
}

.view-item-mode .matte:hover .icon {
  opacity: 0.6;
}

.matte .icon {
  display: inline-block;
  width: 30px;
  margin: -15px;
  line-height: 20px;
  text-align: center;
  opacity: 0;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 0 0 0px rgba(0,0,0,0);
  -webkit-transition: all 0.2s;
}

.matte .icon:hover {
  background: rgba(0,0,0,0.05);
  opacity: 1;
  box-shadow: 0 0 0 10px rgba(0,0,0,0.05);
}

/* ------- */

.view {
  background: white;
  opacity: 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  /* ----- */
  position: absolute;
  top: 0px; left: 100px; padding-right: 100px;
  width: 100%; height: 100%;
  z-index: -1;
  /* ----- */
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  cursor: -webkit-grab;
  -webkit-transition: all 0.4s cubic-bezier(0.570, 0.000, 1.000, 0.705);
  -webkit-transform: translate3d(100%, 0, 0);
}

.view-item-mode .view {
  z-index: 3;
  opacity: 1;
  -webkit-transition: all 500ms cubic-bezier(0.115, 0.910, 0.470, 1.00);
  -webkit-transform: none;
}

.view-scroller {
  position: relative; /* So that we can get offsets from the top of this */
  height: 100%;
  -webkit-transition: all 500ms cubic-bezier(0.115, 0.910, 0.470, 1.00);
  -webkit-transform:translate3d(0,0,0); /* just to start the hw accel */
}

.view-header {
  padding-top: 80px;
}

section.text {
  padding-right: 100px;
  padding-left: 100px;
}

.view-item-mode {
  //padding-left: 40px;
  overflow: hidden;
}

.index {
  -webkit-transition: all 0.4s;
}

.view-item-mode .index {
  -webkit-transform: translate3d(-60px,0,0);
}

.view-content {
  max-width: 1000px;
  height: 100%;
}

.view-content section {
  height: 100%;
  border-bottom: 1px solid #ddd;
}

.view-content section.text {
  padding-top: 50px;
  padding-bottom: 50px;
}

.img {
  background-position: center center;
  background-repeat: no-repeat;
}

.img.contain {
  background-size: contain;
}

.img.cover {
  background-size: cover;
}

.img.fix {
  background-attachment: fixed;
}

@media (max-width: 500px){
  body {
    padding: 50px;
  }
  .view-item-mode .index {
    -webkit-transform: translate3d(-30px,0,0);
  }
  .view {
    left: 40px; padding-right: 40px;
  }
  .view-header {
    padding-top: 50px;
  }
  section.text {
    padding-right: 50px;
    padding-left: 50px;
  }
  .matte {
    padding: 20px;
  }
  .item {
    padding: 0 0 60px 0;
  }
  .item .inner {
    display: block;
  }
}

@media (max-width: 350px){
  .view {
    left: 15px; padding-right: 15px;
  }
}

/*Generated by Font Squirrel (http://www.fontsquirrel.com) on April 28, 2010 11:11:41 AM America/New_York */

@font-face {
  font-family: 'awsans';
  src: url('font/awconquerorsans-light-webfont.eot');
  src: url('font/awconquerorsans-light-webfont.woff') format('woff'),
       url('font/awconquerorsans-light-webfont.ttf') format('truetype'),
       url('font/awconquerorsans-light-webfont.svg#webfontIRLZqcfF') format('svg');
  font-weight: normal;
  font-style: normal;
}
