html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video
{ margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
*, ::after, ::before
{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


/**********************************************************************/



/* Global styles 
   ------------- */

q:before {
  content:"“";
}

q:after {
  content:"”";
}

a {
  text-decoration: none;
  border-bottom: 1px solid #bbb;
  color: black;
  -webkit-transition: all 0.1s;
  padding-bottom: 2px;
}

a:hover {
  border-bottom: 1px solid black;
  //padding-bottom: 8px;
}

.dragging *{
  cursor: -webkit-grabbing !important;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.icon {
  display: inline-block;
  width: 1.4em;
  margin: -15px;
  padding: 0px;
  border-radius: 50%;

  border: none;
  box-shadow: 0 0 0 0px rgba(0,0,0,0);

  font-size: 16px;
  line-height: 1.4em;

  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s;
}

.icon:hover {
  background: rgba(0,0,0,0.05);
  opacity: 1;
  box-shadow: 0 0 0 15px rgba(0,0,0,0.05);
}


/*---------------------------------------------*/


/* Layout
   ------ */

html {
  height: 100%;
}

body {
  -webkit-text-size-adjust: none;
  color: #222;
  background: #444;
  font: 15px/1.3em "awsans";
  -webkit-transition: all 0.4s;
  position: relative;
  height: 100%;
  overflow: hidden;
}

nav {
  padding: 8% 0 0;
  margin:  0  10% 3em;
}

footer {
  padding: 5% 0 12%;
  margin:  3em 10% 0;
}


/*---------------------------------------------*/



/* Type
   ---- */

.title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
  width: 40px;
  white-space: nowrap;
}

nav .title {
  border-bottom: 1px solid #ddd;
  padding-bottom: 2em;
}

footer {
  border-top: 1px solid #ddd;
  padding-top: 2em;
  width: 40px;
  white-space: nowrap;
}

footer > a {
  opacity: 0.5;
  margin-right: 20px;
  border-color: transparent;
}

footer > a:hover {
  opacity: 0.8;
}

.subtitle {
  //border-bottom: 1px solid #444;
  margin-top: 2em;
  max-width: 540px;
}

.name {
  padding-bottom: 0.3em;
  margin-bottom: 0.7em;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  display: none;
}

.subtitle,
.desc,
.view p {
  opacity: 0.8;
  font: 20px/1.3em awsans;
}

.desc {
  display: inline;
  //white-space: pre-line;
  -webkit-transition: border 0.4s, background 0.4s;
  border-bottom: 1px solid transparent;
  -webkit-transition: background 6s, border 0.5s;
}

.desc:hover {
  border-bottom: 1px solid #ccc;
  background: rgba(0,0,0,0.04);
  -webkit-transition: background 0.5s, border 0.5s;
}

.item-mode .desc.active {
  background: rgba(255,230,0,0.18);
  -webkit-transition: background 0.5s, border 0.5s;
}


/*---------------------------------------------*/


/* Index 
   ----- */

.index {
  -webkit-transition: -webkit-transform 0.4s, margin 0.2s, padding 0.2s;
  background: white;
  height: 100%;
  -webkit-transform: translate3d(0,0,0);
  overflow: scroll;
  border-radius: 3px;
  -webkit-overflow-scrolling: touch;
  counter-reset: li;
}

.item-mode .index,
.action-mode .index {
  -webkit-transform: scale(0.97);/* translate3d(0,0,0) scale(0.95);*/
}


/*---------------------------------------------*/


/* Items 
   ----- */

.item-lists {
  margin: 0 10%;
  max-width: 1100px;
}

.items > li {
  margin-bottom: 2em;
  padding-right: 5%;
  margin-right: 10%;
  position: relative;
  cursor: pointer;
}

.items > li:before {
  content:counter(li);
  counter-increment: li; 
  position: absolute;
  left: -6%;
  font-size: 70%;
  line-height: inherit;
  opacity: 0.7;
}


/*---------------------------------------------*/


/* Overlay 
   ------- */

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  //z-index: -2;
  pointer-events: none;
  -webkit-transition: all 1s cubic-bezier(1,0,1,0);
}

.item-mode .overlay,
.action-mode .overlay {
  z-index: 2;
  pointer-events: auto;
  -webkit-transition: all 1s cubic-bezier(0,1,0,1);
}


/*---------------------------------------------*/


/* Matte 
   ----- */

.matte {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 5%;
  opacity: 0;
  //background: rgba(245,245,245,0.9);
  background: rgba(0,0,0,0.4);
  -webkit-transition: all 1s;
}

.item-mode .matte,
.action-mode .matte {
  opacity: 1;
}

.item-mode .matte:hover .icon {
  opacity: 0.6;
}

.matte .icon{
  opacity: 0;
}


/*---------------------------------------------*/


/* Grabby
   ------ */

.grabby {
  position: absolute;
  top: 0px;
  text-align: center;
  bottom: 0px;
  left: 0px;
  width: 30px;
  cursor: -webkit-grab;
  padding-top: 12px;
  z-index: 5;
}

.grabby:hover {
  background: rgba(0,0,0,0.02);
}

.grabby > i {
  display: inline-block;
  border-right: 1px solid rgba(120,120,120,0.15);
  height: 30px;
  margin: 50vh 1px;
}

.grabby:hover > i {
  border-right: 1px solid rgba(120,120,120,0.5);
}


/*---------------------------------------------*/


/* View
   ---- */

.view {
  position: absolute;
  /*left: 10%;*/
  left: 10%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 5px;
  overflow: hidden;

  //background: #f4f4f4;
  //background: rgba(240, 240, 240, 0.9);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);

  //-webkit-transition: all 0.4s cubic-bezier(0.570, 0.000, 1.000, 0.705);
  -webkit-transition: all 0.5s cubic-bezier(1.000, 1.380, 0.280, 0.895);
  -webkit-transform: translate3d(100%, 0, 0);
}

.item-mode .view {
  //-webkit-transition: all 500ms cubic-bezier(0.115, 0.910, 0.470, 1.00);
  -webkit-transform: translate3d(0%, 0, 0);
}

body:not(.i-scroll) .view-scroller {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

.view-header {
  padding-top: 80px;
}

.item-mode {
  overflow: hidden;
}

.caption {
  //background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%);
  background: rgba(235,235,235,0.8);
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 50px;
  opacity: 0;
  -webkit-transform: translate3d(0,30px,0);
  -webkit-transition: all 0.3s;
}

.dark .caption {
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
  color: white;
}

.show-caption .caption {
  opacity: 1;
  -webkit-transform: none;
}

.more-info {
  position: absolute;
  bottom: 0px;
  z-index: 999;
  border-radius: 50%;
  background: rgba(0,0,0,0.08);
  left: 0px;
  margin: 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.more-info:hover {
  -webkit-transform: none;
  background: rgba(0,0,0,0.15);
}

.dark .more-info {
  color: white;
  background: rgba(0,0,0,0.4);
}

.dark .more-info:hover {
  background: rgba(0,0,0,0.8);
}

.show-caption .more-info {
  opacity: 0;
  -webkit-transform: scale(0.6);
}

.view section {
  position: relative;
  overflow: hidden;
  -webkit-perspective: 1500;
  background: #f4f4f4;
  //-webkit-backface-visibility: hidden;
}

.view section.overflow {
  overflow: visible;
  z-index: 2;
}

.view section.img {
  //height: 100%;
}

.view .img > img{
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: block;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.view .img.wide > img{
  max-width: none;
}

.view .img.small > img {
  max-width: 100%;
  width: auto;
}

.view .img.sidebyside > img{
  width: 48%;
  margin-right: 2%;
  margin-bottom: 15%;
  display: inline-block;
}

.view .fig {
  text-align: center;
  overflow: hidden;
}

.view .fig.cropped {
  max-height: 60%;
  -webkit-transition: all 0.6s;
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.08),
              inset 0 -60px 60px rgba(0, 0, 0, 0.015);
}

.view .fig.uncropped {
  max-height: 120%;
  box-shadow: none;
}

/*---------------------------------------------*/



/* iPhone widget
   ------------- */

.iphone {
  display: inline-block;
  margin: 0 10% 5%;
  cursor: pointer;
}

.iphone-back {
  margin: 80px 0;
  display: inline-block;
  background: rgba(230,230,230,0.75);
  border-radius: 10%/5%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1s;
  -webkit-transform: rotateX(-25deg) rotateY(30deg) rotateX(10deg);
  box-shadow: 0 50px 100px rgba(0, 0, 0, 0.2);
}

.uncropped .iphone .iphone-back{
  -webkit-transform: none;
}

.iphone-front{
  padding: 20% 1%;
  border-radius: 10%/5%;
  -webkit-transform: translate3d(0,0,40px);
  background: rgba(245,245,245,0.95);
  box-shadow: -3px -3px 0 5px white;
  -webkit-transition: all 1s;
}

.uncropped .iphone .iphone-front{
  box-shadow: 0px 0px 0 5px white;
}

.iphone img {
  max-width: 320px;
  width: 100%;
}

@media (max-width: 500px) {
  .iphone-front {
    box-shadow: -2px -2px 0 3px white;
    -webkit-transform: translate3d(0,0,20px);
  }
  .uncropped .iphone .iphone-front {
    box-shadow: 0px 0px 0 3px white;
  }
}


/*---------------------------------------------*/



/* iPad widget
   ----------- */

.ipad {
  display: inline-block;
}

.ipad-back {
  margin: 80px 0;
  display: inline-block;
  //background: rgba(230,230,230,0.75);
  border-radius: 20px;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1s;
  -webkit-transform: rotateX(0deg) rotateZ(-16deg) rotateY(30deg) rotateX(15deg);
}

.ipad:hover .ipad-back{
  //-webkit-transform: none;
}

.ipad-front{
  padding: 5%;
  border-radius: 5%;
  -webkit-transform: translate3d(0,0,40px);
  background: #333;
  box-shadow: 0px 0px 0 5px white;
  -webkit-transition: all 1s;
}

.ipad:hover .ipad-front{
  //box-shadow: 0px 0px 0 5px white;
}

.ipad img {
  width: 100%;
  max-width: 800px;
}

@media (max-width: 600px) {
  .ipad {
    margin: 0 -100% 0 20%;
    padding-bottom: 10%;
  }
}


/*---------------------------------------------*/



/* Window widget
   ------------- */

.browser {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
  margin: 1px 2% 1em;
  border-radius: 8px;
  display: inline-block;
  padding-top: 2em;
  position: relative;
}

.browser::after {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  padding: 0 0.5em;
  content: "⊗⊖⊕";
  //content: "⊗⊖⊕●●●";
  letter-spacing: 10px;
  color: rgba(0,0,0,0.25);
  text-align: left;
  background: rgba(0,0,0,0.07);
  background: #e4e4e4;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

.browser img {
  //max-width: 100%;
  border-radius: 0 0 8px 8px;
  margin-bottom: -5px;
}


/*---------------------------------------------*/


/* Flip widget
   ----------- */

.flip-wrap {
  -webkit-perspective: 1500;
}

.flip-wrap.small {
  -webkit-perspective: 500;
}


.flipper {
  -webkit-transform-origin: left center;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.9s;
  cursor: pointer;
}

.flipped > .flipper {
  -webkit-transform: translate3d(100%,0,0) rotateY(-180deg);
}

.small .flipper {
  -webkit-transform-origin: center center;
  -webkit-transition: all 0.4s;
}

.flipped > .flipper.flipper-horiz {
  -webkit-transform: rotateX(-180deg);
}

.flipper > .obverse {
  -webkit-backface-visibility: hidden;
}

.flipper > .reverse {
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.flipper.flipper-horiz > .reverse {
  -webkit-transform: rotateX(180deg);
}

.flipper img {
  width: 100%;
}


/*---------------------------------------------*/


/* View content
   ------------ */

.view .text {
  padding: 2em 6em;
  margin: auto;
}

.view section.meta {
  height: auto;
}

.view p {
  margin: 0 auto 2em;
}

.view .textwrap {
  max-width: 750px;
  margin: auto;
}

.view p b {
  font-weight: bold;
}

.view p.h3{
  display: inline-block;
  padding-bottom: 3px;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #222;
}

.view p.sub {
  display: none;
}


/*---------------------------------------------*/


/* Meta section
   ------------ */

ul.meta{
  line-height: 3em;
  width: 400px;
  opacity: 0.6;
}

.meta li {
  white-space: nowrap;
}

.meta > li > b {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-right: 15px;
  width: 100px;
  display: inline-block;
  opacity: 0.7;
}


/*---------------------------------------------*/


/* Action sheet
   ------------ */

.actions {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  max-width: 500px;
  box-shadow: 0 -1px 2px rgba(0,0,0,0.1);
  -webkit-transform: translate3d(0,100%,0);
  -webkit-transition: all 0.2s cubic-bezier(0.165, 0.415, 0.435, 0.990);
}

.actions > :first-child {
    border-radius: 3px 3px 0 0;
}

.actions > :last-child {
    border-radius: 0 0 3px 3px;
}

.actions a,
.actions input {
  display: block;
  border: none;
  padding: 1.3em 10%;
  background: white;
}

.actions a:hover {
  background: #f4f4f4;
}

.actions input {
  -webkit-appearance: none;
  font: inherit;
  width: 100%;
  border: none;
  border-radius: 0px;
  margin: 0px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  background: #f4f4f4;
}

.actions input:focus {
  border: none;
  outline: none;
}

.action-mode .actions {
  -webkit-transform: translate3d(0,0,0);
}


/*---------------------------------------------*/


/* Loading
   ------- */
   
.spinner {
  -webkit-transition: all 1s;
  background-color: rgba(245,245,245,0.8);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  z-index: 999;
}

.loading .spinner{
  opacity: 1;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.spinner > .icon {
  display: inline-block;
  height: 200px; width: 200px;
  position: absolute;
  top: 40%; left: 50%;
  opacity: 0;
  margin: -100px;
  font-size: 100px;
  line-height: 200px;
  -webkit-transform-origin: 50% 65%;
}

.loading .spinner > .icon {
  opacity: 1;
  -webkit-animation: spin 0.7s linear infinite;
}

[data-action = fullscreen] {
  display: none;
}


/**********************************************************************/

/* 2-column
   -------- */


@mediaa (min-width: 960px){

  .items {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }

  .items.l > li { /* Hide the right border on the second column */
    border-right: 1px solid #DDD;
  }
  .items.r > li { /* Hide the right border on the second column */
    margin-right: 0;
    padding-right: 0;
    margin-left: 10%;
  }
  .items > li:before {
      left: -12%;
  }
}



/**********************************************************************/


/* 1-column
   -------- */


@media (max-width: 960px) {
  .items {
    width: 100%;
  }
  .view {
    //background: #f4f4f4;
  }
}

/**********************************************************************/


/* XXL
   --- */


@media (min-width: 1350px) {
  .subtitle,
  .desc,
  .view p {
    font-size: 24px;
  }
}


/**********************************************************************/


/* Mobile
   ------ */


@media (max-width: 600px){

  .view {
    left: 0px;
  }

  .view-header {
    padding-top: 50px;
  }

  .view .text {
    padding-right: 3em;
    padding-left: 3em;
  }

  .view .img.sidebyside > img {
    width: 100%;
    margin-right: 0%;
  }

  .subtitle,
  .desc,
  .view p {
    font-size: 17px;
  }

  .meta > li > b {
    display: block;
    line-height: 1em;
    margin-top: 12px;
  }

}


/**********************************************************************/


/* Tiny
   ---- */


@media (max-width: 500px){
  .view {
    //left: 18px;
  }

  .items > li {
    padding-left: 12%;
    margin-right: 0;
    padding-right: 0;
  }

  .items > li:before {
    left: 0;
  }

  .desc {
    white-space: normal;
  }
}


/**********************************************************************/


/*Generated by Font Squirrel (http://www.fontsquirrel.com) on April 28, 2010 11:11:41 AM America/New_York */

@font-face {
  font-family: 'awsans';
  src: url('font/awconquerorsans-light-webfont.eot');
  src: url('font/awconquerorsans-light-webfont.woff') format('woff'),
       url('font/awconquerorsans-light-webfont.ttf') format('truetype'),
       url('font/awconquerorsans-light-webfont.svg#webfontIRLZqcfF') format('svg');
  font-weight: normal;
  font-style: normal;
}
